<h1>Pirates</h1>
<p>Name: <%= @pirate.name %></p>
<p>Weight: <%= @pirate.weight %></p>
<p>Height: <%= @pirate.height %></p>

<h1>Ships</h1><br>
<h2>First Ship<h2><br>
<p> Name: <%= @ships[0].name %>
<p> Type: <%= @ships[0].type %>
<p> Booty: <%= @ships[0].booty %>

<h2>Second Ship</h2><br>
<p> Name: <%= @ships[1].name %>
<p> Type: <%= @ships[1].type %>
<p> Booty: <%= @ships[1].booty %>