<h1>Display your Pirate here</h1>
<p>Pirate's name: <%= @pirate.name %></p>
<p>Pirate's weight: <%= @pirate.weight %></p>
<p>Pirate's height: <%= @pirate.height %></p>

<h2>Display your first ship here</h2>
<p>first ship's name: <%= @ships[0].name %></p>
<p>first ship's type: <%= @ships[0].type %></p>
<p>first ship's booty: <%= @ships[0].booty %></p>

<h2>Display your second ship here</h2>
<p>second ship's name: <%= @ships[1].name %></p>
<p>second ship's type: <%= @ships[1].type %></p>
<p>second ship's booty: <%= @ships[1].booty %></p>
